<div class="player-container">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [name]="player" [image]="game.player_images[i]" class="player-position hide-mobile" [playerActive]="i == game.currentPlayer"></app-player>
</div>

<div class="scroll-container">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{ 'left.px': 100 + i * 100}" [name]="player" [image]="game.player_images[i]" style="top: 130px" class="player-position hide-desktop" [playerActive]="i == game.currentPlayer"></app-player-mobile>
</div>

<div *ngIf="gameOver" class="gameOver">
    <img src="./assets/img/game_over.svg">
</div>

<div *ngIf="!gameOver" class="field" style="background-image: url('./assets/img/board.png')">
    <div class="card-stack">
        <!--card stack-->
        <img [ngStyle]="{ 'right.px': i * 5 }" *ngFor="let c of [0, 1, 2, 3]; let i = index" src="assets/img/cards/card_cover3.png" />

        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/cards/card_cover3.png" />

        <!--stack for played cards-->
        <img class="played-card" *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" />


        <!--current card (animation)-->
        <img *ngIf="game.pickCardAnimation" (click)="takeCard()" class="pick-card" style="right: 25px" src="assets/img/cards/{{ game.currentCard }}.png" />
    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button *ngIf="!gameOver" (click)="openDialog()" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn-add">
                <mat-icon>add</mat-icon>
</button>


<img class="preloadImage" src="assets/img/cards/{{ game.stack.length-1 }}.png" />